Client/node_modules
Server/run.bat
Server/node_modules
Server/lib/node_modules
Server/lib/Web/public/js/**
!Server/lib/Web/public/js/jquery.js
!Server/lib/Web/public/js/bad_apple_data.js
!Server/lib/Web/public/js/lz-string.min.js
Server/lib/sub/auth.json
Server/lib/sub/global.json
.vscode
Server/nul
Server/lib/Web/public/media/common/Rmxn*
Server/lib/Web/public/media/common/*.mp3